<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hypertension Detection</title>
</head>
<body>
    <h1>Hypertension Detection</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.age.label }} {{ form.age() }} <br>
        {{ form.systolic_bp.label }} {{ form.systolic_bp() }} <br>
        {{ form.diastolic_bp.label }} {{ form.diastolic_bp() }} <br>
        {{ form.submit() }}
    </form>
    {% if result %}
        <p>Result: {{ result }}</p>
    {% endif %}
</body>
</html>
